body {
    background-color: #F5F5F5 ;
     color: #212121;
}
ul{ list-style: none;
}
/* identical to box height */
.logo{
    color: #2196F3;
}
header {
    background-color: #;
}

/*колір сонового тексту #212121*/
/*колір доптексту тексту #757575 */
/* білий #FFFFFF */
/* колір акенту 1 #2196F3*/
/* колір актенту 2 #2F303A */
/* #ECECEC*/
/* #F5F5F5*/
